<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>Uplink</title>
</head>

<body class="bg-dark">
    <nav class=" d-flex">
        <div class="container-fluid navbar navbar-expand-lg navbar-dark bg-dark d-flex justify-content-center">
            
            <div class="" >
                <h2><span class="badge bg-warning text-dark ">Uplinks</span></h2>               
              </div>

            </div>


        </div>


    </nav>


    <!-- Button trigger modal -->


    <div id="carouselExampleDark" class="carousel carousel-dark carousel-fade" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="3000">
                <img src="/static/marvel.jpg" class="img-fluid" alt="...">
                <div class="carousel-caption d-none d-md-block">

                </div>
            </div>
            <div class="carousel-item" data-bs-interval="2000">
                <img src="/static/animepostr.jpg" class="img-fluid" alt="...">>
                <div class="carousel-caption d-none d-md-block">

                </div>
            </div>

            <div class="carousel-item" data-bs-interval="2000">
                <img src="/static/animeboy.jpg" class="img-fluid">
                <div class="carousel-caption d-none d-md-block">

                </div>
            </div>


        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <div class="mx-2 my-4 bg-dark">
        <div class="shadow p-3 mb-5 rounded col ">
            <form class="d-flex bg-dark " method="get">
                <input class="form-control me-2 bg-dark rounded-pill" type="search" name="search" placeholder="Search" aria-label="Search"
                    value="">
                <button class="btn btn-secondary rounded-pill"><i class="fa fa-search "></i></button>
                
            </form>
        </div>
    </div>

    <div class="" >
        <div class="d-flex justify-content-center  my-6 gap-4" style="height: 60px;">
            <a  href="{% url 'home' %}" style="text-decoration: none; color: black; "><h1><span class="badge bg-info text-dark rounded-pill">Links</span></h1></a>
            <a  href="{% url 'feature' %}" style="text-decoration: none; color: black; "><h1><span class="badge bg-success text-light rounded-pill">Latest Webseries 2023</span></h1></a>

        </div>
        <div  class="d-flex justify-content-center gap-3 my-2" style="height:90px; text-decoration:none;">
            <a  href="{% url 'price' %}" style="text-decoration: none; color: black; "><h1><span class="badge bg-success text-light rounded-pill">Latest Movie 2023</span></h1></a>

            <a  href="{% url 'anime' %}" style="text-decoration: none; color: black; "><h1><span class="badge bg-warning text-dark rounded-pill">Anime HD</span></h1></a>

        </div>
    </div>
