{% include 'h.html' %}

<div class="container">
    <div class="row">
        {% for a in l_data %}

        <div class="col-6 col-sm-2 bg-dark ">
            <div class=" card mx-1 my-1 mt-4  ">
                <a href="{{a.l_link}}" style="text-decoration: none; color: black;">
                <img src="/media/{{a.l_photo}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{a.l_title}}</h5>
                    <p class="card-text">{{a.l_descript}}</p>
                </div></a>
                
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% include 'f.html' %}
